@use '../../styles/' as *;

.wrapper {
  position: relative;

  & .select {
    padding-right: 29px;
    cursor: pointer;
    text-align: end;
    color: $color-text-secondary;

    &.dropped {
      color: $color-text;
    }

    &.changed {
      color: $color-accent;
    }

    & .icon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s;
    }

    &.dropped .icon {
      transform: scaleY(-1);

      & path {
        fill: $color-accent;
      }
    }

    &.changed .icon {
      & path {
        fill: $color-accent;
      }
    }
  }

  & .dropedList {
    position: absolute;
    width: max-content;
    top: 30px;
    left: 0;
    background: #ffffff;
    border: 1px solid #eaf0fa;
    box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
    border-radius: 4px;
    z-index: 3;

    & .option {
      min-height: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 20px;
      color: $color-text-header;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      &:hover {
        background-color: rgba(0, 44, 251, 0.13);
        color: $color-text;
      }
    }

    & .title {
      color: $color-accent;

      &:hover {
        color: $color-accent;
      }
    }
  }
}
