.wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 64px 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'nav header'
    'nav main';

  & aside {
    grid-area: nav;
  }
  & header {
    grid-area: header;
  }
  & .main {
    grid-area: main;
    background-color: #e5e5e5;
    min-height: 100vh;
    padding: 0 120px;
  }
}
