@use '../../styles/' as *;

.wrapper {
  & .topContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;

    & .balanceButton {
      margin-right: 50px;
    }
  }

  & .bottomContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    font-size: 14px;

    & .sortSelects {
      display: flex;

      & > div:not(:last-child) {
        margin-right: 30px;
      }

      & .resetFilters {
        border: none;
        background: none;
        padding: 0;
        color: $color-text-secondary;
        cursor: pointer;
        position: relative;
        margin-right: 39px;
        padding-right: 22px;
        font-size: 14px;

        & .icon {
          position: absolute;
          top: 5px;
          right: 0;
        }

        &:hover {
          color: $color-accent;
          & .icon path {
            fill: $color-accent;
          }
        }
      }
    }
  }
}
