@use '../../styles/' as *;

.wrapper {
  & .topContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;

    & .balanceButton {
      margin-right: 50px;
    }
  }

  & .bottomContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
