@use '../../styles/' as *;

.wrapper {
  width: 100%;
  background: $color-white;
  box-shadow: 0px 4px 5px #e9edf3;
  border-radius: 8px;
  padding: 0 40px 0 39px;
  margin-top: 11px;
  margin-bottom: 546px;

  & .callsTable {
    max-width: 100%;
    border-collapse: collapse;

    & .colType {
      width: 54px;
    }
    & .colTime {
      width: 88px;
    }
    & .colEmployee {
      width: 128px;
    }
    & .colCall {
      width: 326px;
    }
    & .colSource {
      width: 214px;
    }
    & .colGrade {
      width: 150px;
    }
    & .colDuration {
      width: 402px;
    }

    & tr {
      height: 64px;
      text-align: left;

      &:not(:last-child) td,
      & th {
        border-bottom: 1px solid #eaf0fa;
      }
      & th {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $color-text-header;
        padding-top: 6px;
      }

      & th:last-child,
      & td:last-child {
        text-align: right;
      }

      & .sources {
        color: $color-text-secondary;
      }
    }

    & thead tr {
      height: 61px;
    }
  }
}
