$color-text: #122945;
$color-text-secondary: #5e7793;
$color-text-header: #899cb1;
$color-light-red: #fee9ef;
$color-red: #ea1a4f;
$color-light-green: #dbf8ef;
$color-green: #28a879;
$color-text-green: #00a775;
$color-icon: #adbfdf;
$color-secondary: #d8e4fb;
$color-accent: #002cfb;
$color-accent-hover: #0024cb;
$color-accent-active: #274bc8;
$color-yellow: #ffd500;
$color-nav-bg: #091336;

$color-white: rgba(255, 255, 255, 1);
$color-white-06: rgba(255, 255, 255, 0.6);
