@use '../../styles/' as *;

.header {
  width: 100%;
  height: 64px;
  background-color: $color-white;
  display: flex;
  align-items: center;
  padding: 12px 120px;
  color: $color-text-header;

  & .date {
    white-space: nowrap;
  }

  & .analytics {
    display: flex;
    height: 100%;
    font-size: 14px;
    padding-left: 86px;
    padding-right: 24px;
    gap: 57px;

    & .analitisItem {
      min-width: 156px;
      color: $color-text;
      position: relative;

      & p {
        white-space: nowrap;
      }

      & .progressBarWrapp {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 156px;
        height: 6px;
        border-radius: 12px;
        background-color: #dee6f5;

        & div {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 6px;
          border-radius: 12px;
        }
      }

      &.green {
        span {
          color: $color-green;
        }
        & .progressBarWrapp div {
          background-color: $color-green;
        }
      }

      &.yellow {
        span {
          color: $color-yellow;
        }
        & .progressBarWrapp div {
          background-color: $color-yellow;
        }
      }

      &.red {
        span {
          color: $color-red;
        }
        & .progressBarWrapp div {
          background-color: $color-red;
        }
      }
    }
  }

  & .headerSearch {
    height: 40px;
    background-image: url('../../../public/assets/images/icons/search.svg');
    background-position: 173px 12px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }

  & .organizationSelect {
    width: 300px;
    margin-left: 43px;
    z-index: 3;
  }

  & .userMenu {
    margin-left: 43px;
  }
}
